asgiref==3.4.1
astroid==2.7.2
boto3==1.18.40
botocore==1.21.40
clipboard==0.0.4
colorama==0.4.4
dj-database-url==0.5.0
Django==3.2.5
django-binary-database-files==1.0.15
django-crispy-forms==1.12.0
django-heroku==0.3.1
django-storages==1.11.1
gunicorn==20.1.0
isort==5.9.3
jmespath==0.10.0
lazy-object-proxy==1.6.0
mccabe==0.6.1
mysql-connector-python==8.0.26
Pillow==8.3.2
platformdirs==2.2.0
psycopg2==2.9.1
pylint==2.10.2
pyperclip==1.8.2
python-dateutil==2.8.2
python-decouple==3.4
pytz==2021.1
pyvenv==0.2.2
s3transfer==0.5.0
six==1.16.0
sqlparse==0.4.1
termcolor==1.1.0
toml==0.10.2
urllib3==1.26.6
whitenoise==5.3.0
wrapt==1.12.1
